@import "./mixin";

.container {
  width: 100%;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include tablet {
    display: grid;

    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 5% 5% 80% 10%;
    grid-template-areas:
      ". ."
      "header header"
      "todo done"
      ". .";
  }

  @include desktop {
    display: grid;

    height: 100%;

    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 5% 5% 80% 10%;
    grid-template-areas:
      ". ."
      "header header"
      "todo done"
      ". .";

    overflow: hidden;
  }

  .header {
    grid-area: header;
    display: grid;

    @include mobile {
      margin-top: 1rem;

      z-index: 100;

      position: fixed;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 50%);
      row-gap: 1rem;
      grid-template-areas:
        "nav"
        "ratio";
    }

    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "nav ratio";

    .ratio {
      grid-area: ratio;
      display: grid;

      @include mobile {
        grid-template-columns: 5% 90% 5%;
      }

      @include tablet {
        grid-template-columns: 2.5% 87.5%;
      }

      @include desktop {
        grid-template-columns: 5% 65% 30%;
      }
      grid-template-areas: ". curview .";

      .btn {
        grid-area: curview;
        @include btn;
        max-height: 5rem;
      }

      &--text {
        grid-area: curview;
        font-size: 2rem;
        font-family: $notoKr;
        text-align: center;
        color: $color-grey-light-1;
      }
    }

    .nav {
      grid-area: nav;
      display: grid;

      @include mobile {
        grid-template-columns: 5% 90% 5%;
      }

      @include tablet {
        grid-template-columns: 10% 87.5% 2.5%;
      }

      @include desktop {
        grid-template-columns: 30% 65% 5%;
      }
      grid-template-areas: ". todonav .";

      .to_do--nav {
        grid-area: todonav;

        display: flex;
        justify-content: space-between;

        .btn {
          @include btn;
          width: 45%;
          max-height: 5rem;
        }
      }
    }
  }
}

.list-container {
  display: grid;

  @include mobile {
    height: 100vh;
  }
  @include tablet {
    height: 100vh;

    grid-template-rows: 5% 75% 10%;
  }
  @include desktop {
    height: 100vh;

    grid-template-rows: 5% 75% 10%;
  }

  .list-title {
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: $poppins;
    text-align: center;
  }

  .list--wrap {
    background-color: rgba(255, 255, 255, 0.3);

    border: 1px solid white;
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
    }

    .list--nav {
      height: 3rem;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-self: center;
      justify-self: center;

      .btn {
        font-family: $notoKr;
        font-size: 1.6rem;

        &-icon {
          color: $color-blue-1;
        }

        &:hover {
          color: $color-blue-1;
          // text-shadow: 1px 1px 1px $color-grey-dark-1;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .list--area {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      .list {
        &--item {
          background-color: rgba(255, 255, 255, 0.7);

          margin: 1rem;
          padding: 1.6rem;

          display: grid;
          grid-template-columns: 85% 15%;
          grid-template-rows: 80% 20%;
          grid-template-areas:
            "desc desc"
            ". menu";

          box-shadow: 1px 1px 3px $color-grey-light-3;

          &--desc {
            grid-area: desc;
            display: flex;
            flex-direction: column;

            h3 {
              text-transform: capitalize;
              font-family: $notoKr;
              font-weight: 300;
              font-size: 1.6rem;
              text-align: center;
            }
          }

          &--menu {
            grid-area: menu;
            min-width: 5rem;
            display: flex;
            justify-content: space-between;
            .btn {
              color: $color-blue-1;

              &:hover {
                color: $color-grey-dark-1;
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}

.btn {
  border: none;
  background-color: transparent;

  @include mobile {
    text-align: center;
  }

  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}

.to_do {
  @include mobile {
    grid-template-columns: 5% 90% 5%;
  }
  @include tablet {
    grid-template-columns: 10% 87.5% 2.5%;
  }
  @include desktop {
    grid-template-columns: 30% 65% 5%;
  }

  grid-template-areas:
    "  . . ."
    " . todo-container ."
    "  . . .";
  // background-color: $color-primary;

  grid-area: todo;

  .list--wrap {
    grid-area: todo-container;
  }
}

.done {
  @include mobile {
    grid-template-columns: 5% 90% 5%;
  }

  @include tablet {
    grid-template-columns: 2.5% 87.5% 10%;
  }

  @include desktop {
    grid-template-columns: 5% 65% 30%;
  }

  grid-template-areas:
    " . . . "
    ". done-container . "
    " . . .";

  grid-area: done;

  .list--wrap {
    grid-area: done-container;
  }
}
